<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Let's Eat NYC</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#neighborhood_return a").click(function(){
          var value = $(this).html();
          var input = $('#neighborhood');
          input.val(value);
        });
      });
    </script>
      <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- button -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- button -->
  </head>
  <body>
    <div class="container">
      <div class="row" id="space"></div>
        <!-- <div class="row"> -->
          <h6 class="title">LET'S EAT NYC!</h6>
        <!-- </div> -->
          <h6 class="desc">Hungry in NYC but don't know where to go? We'll give you some suggestions!</h6>

      <div class="row" id="smallspace2"></div>
        <h3 class="question">WHERE WILL YOU BE EATING?</h3>
        <div class="sub">SELECT YOUR NEIGHBORHOOD AND HIT SUBMIT!</div>
        <div class="row" id="smallspacesub"></div>
        <div class="row" id="smallspace"></div>
          <button type="button" class="button" data-toggle="collapse" data-target="#lowerman">Lower Manhattan</button>
  <div id="lowerman" class="collapse">
    <div class="row">
      <form action="/choice" method="post">
        <input type="text" class="hide" id="neighborhood" name="neighborhood">
        <div id="neighborhood_return">
          <a href="#" class ="secbutton">Lower East Side</a>
          <a href="#" class ="secbutton">SoHo</a>
          <a href="#" class ="secbutton">Tribeca</a>
        </div>
    </div>
  </div>

        <div class="row" id="bigspace"></div>
          <button type="button" class="button" data-toggle="collapse" data-target="#centralman">Central Manhattan</button>
<div id="centralman" class="collapse">
  <div class="row">
    <!-- <div class="col-lg-1 spacer"></div> -->
    <!-- <form action="/choice" method="post"> -->
      <div id="neighborhood_return">
        <a href="#" class ="secbutton">East Village</a>
        <a href="#" class ="secbutton">Koreatown</a>
        <a href="#" class ="secbutton">Hell's Kitchen</a>
      </div>
  </div>
</div>

        <div class="row" id="bigspace"></div>
          <button type="button" class="button" data-toggle="collapse" data-target="#upperman">Upper Manhattan</button>
      <div id="upperman" class="collapse">
        <div class="row">
            <div id="neighborhood_return">
              <a href="#" class ="secbutton">UWS (Upper West Side)</a>
              <a href="#" class ="secbutton">UES (Upper East Side)</a>
              <a href="#" class ="secbutton">El Barrio / East Harlem</a>
            </div>
          </div>
        </div>
        <div class="row" id="submitspace"></div>
        <input class="submit" type="submit"></input>
      </form>
    </div>
  </body>
</html>
